@import "neat-helpers";
$grid-columns: 12 !global;
$max-width: 960px !global;

$mobile: new-breakpoint(min-width 320px 4);
$tablet: new-breakpoint(min-width 768px 8);
$desktop: new-breakpoint(min-width 1000px);