@import "bourbon";
@import "neat";
@import "grid-settings";
@import "../vendor/modularized-normalize-scss/normalize";

html
	&.boxshadow
		body
			#wrap
				#body
					#sidebar
						#contact
							#contact-inputs
								.form-control
									&.has-error
										input, textarea
											box-shadow: inset -1px 2px 4px rgba(0,0,0,.4),0 0 5px 1px rgba(187, 77, 77, 0.6)
											&:focus
												box-shadow: inset -1px 2px 4px rgba(0,0,0,.4),0 0 5px 1px rgba(187, 77, 77, 0.9)
								input
									&[type="text"], &[type="tel"], &[type="email"]
										border: 0
										box-shadow: inset -1px 2px 4px rgba(0,0,0,.4)
										+transition(0.3s cubic-bezier(0.49, 0.11, 0.58, 1) box-shadow)
										&:focus
											box-shadow: inset -1px 2px 4px rgba(0,0,0,.4),0 0 5px 1px rgba(233, 187, 102, 0.8)
											outline: none
								textarea
									border: 0
									box-shadow: inset -1px 2px 4px rgba(0,0,0,.4)
									+transition(0.3s cubic-bezier(0.49, 0.11, 0.58, 1) box-shadow)
									&:focus
										box-shadow: inset -1px 2px 4px rgba(0,0,0,.4),0 0 5px 1px rgba(233, 187, 102, 0.8)
										outline: none
	&.backgroundclip
		body
			#wrap
				#body
					#sidebar
						#contact
							#contact-inputs
								h5
									span, a
										background-color: #222
										-webkit-background-clip: text
										-moz-background-clip: text
										background-clip: text
										color: transparent
										text-shadow: rgba(255,255,255,0.4) 0px 3px 3px
	body
		font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif
		.hidden
			display: none !important
		#wrap
			+outer-container()
			.inner
				+outer-container(88.5%)
			#header
				background-size: cover
				position: relative
				.inner
					position: relative
				h3
					a
						color: #000
					left: 0
					margin: 0
					position: absolute
				.logo
					box-shadow: 0 15px 17px rgba(0,0,0,0.38)
					left: 0
					position: absolute
					top: 0
					img
						display: block
						max-width: 100%
						width: 100%
			#body
				#content
					p
						+clearfix()
						a
							color: #0537a8
							text-decoration: none
							&:hover
								text-decoration: underline
						em
							display: block
							margin-top: 1em
					blockquote
						color: #575e62
						font-size: 17px
						font-style: italic
						font-weight: 700
						line-height: 1.3em
						margin: 0
						padding: 1.3em 2em 1.3em 1em
						position: relative
						&:before, &:after
							background: #fdc251
							content: ''
							display: block
							left: 0
							height: 4px
							position: absolute
							width: 93%
						&:before
							top: 0
						&:after
							bottom: 0
						span
							display: block
							font-size: +em(11)
							font-style: normal
							font-weight: 400
							margin-top: 1.5em
				#sidebar
					#contact
						#contact-inputs
							background: #f3f3f3
							border: 2px solid #efefef
							border-bottom: 0
							border-top-left-radius: +em(15)
							border-top-right-radius: +em(15)
							overflow: hidden
							padding: 25px 34px 15px 34px
							width: 100%
							.form-control
								padding-bottom: 1.3em
								position: relative
							h5
								margin: 0
								span
									color: #5d5d5d
									display: block
							h6
								color: #646a6e
								font-family: 'Tahoma', 'Lucida Grande', sans-serif
								font-size: +em(15)
								font-weight: 400
								margin-bottom: +em(20, 15)
								margin-top: +em(18, 15)
							label
								color: #898989
								display: block
								font-family: 'Tahoma', 'Lucida Grande', sans-serif
								font-size: +em(13)
								margin-bottom: +em(8)
								text-transform: uppercase
							input
								&[type="text"], &[type="tel"], &[type="email"]
									+linear-gradient(#ededed, #d6d6d6)
									border: 2px solid #ddd
									border-radius: +em(5)
									color: #666
									height: +em(40)
									padding: +em(8)
									width: 100%
							textarea
								+linear-gradient(#ededed, #d6d6d6)
								border: 2px solid #ddd
								border-radius: +em(5)
								color: #666
								height: +em(78)
								padding: +em(8)
								width: 100%
							.error
								bottom: 2px
								color: #BB4D4D
								font-size: +em(13)
								left: 0
								position: absolute
						#contact-submit
							box-shadow: inset 0 -7px 7px 7px #daa005
							border-bottom-left-radius: +em(15)
							border-bottom-right-radius: +em(15)
							+linear-gradient(#ecc913, #dba306)
							padding: +em(11)
							text-align: center
							width: 100%
							input
								+linear-gradient(#686868, #1f1f1f)
								border: 0
								border-radius: +em(7)
								box-shadow: inset 0 2px 2px rgba(0,0,0,0.9), 0 3px 1px #f0d70b
								color: #fff
								font-size: +em(23)
								opacity: 0.95
								padding-bottom: +em(14, 23)
								padding-left: +em(27)
								padding-right: +em(27)
								padding-top: +em(16, 23)
								text-transform: uppercase
								text-shadow: 0 2px rgba(0,0,0,0.9)
								+transition(0.3s ease-in-out opacity)
								&:hover
									opacity: 1
+media($mobile)
	html
		body
			#wrap
				#header
					h3
						visibility: hidden
					.logo
						width: 40%
				#body
					margin-bottom: +em(25)
					#sidebar
						#contact
							#contact-inputs
								h5
									font-size: +em(16)
									span
										&.large
											font-size: +em(28, 16)
+media($tablet)
	html
		body
			#wrap
				#header
					h3
						font-size: +em(26)
						top: 130px
						visibility: visible
					.logo
						height: 100px
						width: 255px
				#body
					#sidebar
						#contact
							#contact-inputs
								h5
									font-size: +em(21)
									span
										&.large
											font-size: +em(35, 21)
+media($desktop)
	html
		body
			#wrap
				#header
					height: 295px
					h3
						font-size: +em(32)
						top: 150px
					.logo
						height: 120px
						width: 307px
				#body
					#content
						+span-columns(7)
						h3
							font-size: +em(23)
							margin-bottom: +em(28, 23)
							margin-top: +em(23, 23)
						h4
							font-size: +em(18)
							margin-bottom: +em(22)
						p
							font-size: +em(14)
					#sidebar
						+span-columns(5)
						position: relative
						#contact
							left: 0
							position: absolute
							top: -40px